<!DOCTYPE html>
<html ng-app="cool-monitor" lang="en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'><!-- google fonts -->
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'><!-- google fonts -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /><!-- bootstrap: ui widgets -->
		<link rel="stylesheet" type="text/css" href="css/coolconnect.css" /><!-- custom css styles -->
		
		<script type="text/javascript" src="js/angular.min.js"> </script> <!-- angular code -->
		<script type="text/javascript" src="https://www.google.com/jsapi"></script><!-- google code that allows auto-download of stuff (google.load()) -->
		<script type="text/javascript" src="js/coolconnect.js"> </script><!-- ref to our custom angular app -->
	</head>
	
	<body>
		<div id="mega-container">
			<div id="title-container" class="card-container">
				<span id="title"><span class="app-title">cool-connect:</span> current outage report</span>
			</div>
		
			<div id="outage-container" class="card-container">
		
				<div id="clients-controller" ng-controller="ClientsController as clientList">
					<div id="clients-list" class="list-group">
						<button type="button" class="list-group-item" ng-repeat="client in clientList.clients" ng-click="clientList.updateOutages(client.name);">
							{{ client.name }}
						</button>
					</div>
				</div>
		
				<!-- graph of outages. */ -->
				<div id="outages-timeline"></div>
			
				<!-- div id="outages-controller" ng-controller="OutagesController as outageList">
					<table class="table table-hover">
						<tr ng-repeat="outage in outageList">
							<td> {{ outage.client }} </td>
						</tr>
					</table 
				</div -->
			</div>
		</div>
	</body>
</html>